@import com.sample.web.Routes
@import com.sample.web.domain.DomainRequest

@()(implicit req: DomainRequest)
<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="@Routes.home">Sample</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        @Seq[(String, String)](
            ("Users", Routes.users)
        ).map { case (name, url) =>
        <li class="nav-item @if(req.pathInfo.startsWith(url)) {active}">
            <a class="nav-link" href="@url">@name</a>
        </li>
        }
        </ul>
        <span class="navbar-text">user</span>
    </div>
</nav>